* {
	text-align: center;
}

div {
	width: 300px;
	height: 400px;
}

li {
	text-align: left;
}

#container1 {
	display: inline-block;
	border: 2px solid crimson;
}

#container2 {
	display: inline-block;
	border: 2px solid green;
}